<font color ="#FF0070"><%if choice == "single_player"%>
<h2 class="centered"><%=p1_name%> start guessing!!
<%else%>
<h2 class ="centered"><%=p2_name%> start guessing!!
<%end%>
<h1 class = "color"><%=blank.join(" ")%></h1><br>
<form method ="post" action ="guess">

<center><input type="text" name="letter" required maxlength="1" onkeyup="this.value = this.value.replace(/[^a-zA-Z]/, '')" autofocus></center>
<input type="hidden" name="player1" value="<%p1_name%>">
<input type="hidden" name="player2" value="<%p2_name%>">
<center><br><input class ="centered" type="submit" value="Enter Guess"/></center>
<h3 class ="centered"><font color = #D6FF89>Guesses <%=guesses%></font></h3>
<h2 class ="centered"><font color = cyan><%=message%></font>
<h2 class="guessesleft">Guesses left <%=counter%></h2>
</form>
<center><%if counter == 6 %>
	<img class src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Hangman-0.png">
<%end%>
<%if counter == 5 %>
	<img class src="https://upload.wikimedia.org/wikipedia/commons/3/30/Hangman-1.png">
	<%end%>
<%if counter == 4 %>
	<img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Hangman-2.png">
	<%end%>
<%if counter == 3 %>
	<img src="https://upload.wikimedia.org/wikipedia/commons/9/97/Hangman-3.png">
	<%end%>
<%if counter == 2 %>
	<img src="https://upload.wikimedia.org/wikipedia/commons/2/27/Hangman-4.png">
	<%end%>
<%if counter == 1 %>
 <font size="8"><b><u><i>This is your last guess!!!
	<br><img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Hangman-5.png">
	</center>
	<%end%>